{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">

    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <p>
      I am a Ph.D. student at <a href="https://cse.ucsd.edu" target="_blank">University of California, San Diego</a>, specializing in systems and networks research. 
      I work under the guidance of <a href="https://swanson.ucsd.edu/" target="_blank">Dr. Steven Swanson</a> in the 
      <a href="http://nvsl.io/" target="_blank">Non-Volatile Systems Laboratory (NVSL)</a>, focusing on data center computing, 
      emerging hardware technologies like <a href="https://en.wikipedia.org/wiki/Compute_Express_Link" target="_blank">Compute Express Link™ (CXL™)</a>, 
      and low-latency networked applications.
  </p>
  <p>
      My current research includes accelerating remote procedure calls (RPCs) using shared memory, developing novel shared memory protections, 
      and exploring advanced system-level optimizations. I co-authored a paper titled 
      <a href="https://arxiv.org/abs/2408.11325" target="_blank">"Telepathic Datacenters: Fast RPCs using Shared CXL Memory"</a>, 
      which explores the potential of shared memory for high-performance data center communication.
  </p>
  <p>
      Previously, I worked as the lead engineer and co-founder at 
      <a href="https://www.linkedin.com/company/radin-bourse" target="_blank">RadinBourse</a>, where I was responsible for designing 
      a sub-microsecond trading engine and addressing challenges related to system availability and scalability in high-performance 
      trading platforms for financial markets.
  </p>
  <p>
      I combine five years of professional software engineering experience with deep technical expertise in areas such as the 
      <a href="https://www.kernel.org/" target="_blank">Linux kernel</a>, low-latency systems, and reliable system design. 
      My leadership philosophy draws on principles from <a href="https://www.amazon.com/Management-3-0-Developers-Developing-Addison-Wesley/dp/0321712471" target="_blank">Management 3.0</a>, 
      while my approach to conflict resolution is influenced by <a href="https://www.amazon.com/Crucial-Conversations-Talking-Stakes-Second/dp/1469266822" target="_blank">Crucial Conversations</a>.
  </p>
  <p>
      For more about my work and projects, you can access my <a href="https://esihaj.github.io" target="_blank">Learning Journal</a> and 
      <a href="https://esihaj.github.io/Ehsan_Hajyasini_CV.pdf" target="_blank">CV</a>.
  </p>
  

    
    {{ partial "social-icons.html" .}}
  </div>
</div>

{{ end }}